.chat-main
  .group
    .current-group
      .current-group__name
        = @group.name
      %ul.current-group__member
        Member : 
        %li.current-group__list
          - @group.users.each do |user|
            =  user.name
    .edit-btn
      =link_to "Edit", edit_group_path(@group)
  .message-list
    = render @messages
  
  .footer
    =form_with model: [@group,@message],html: {class: "form"},local: true do |f|
      .form-contents
        = f.text_field :content, class: "input-text", placeholder: 'type a message'
        = f.label :image, class: 'image'do
          = icon('far','image', class: 'icon')
          =f.file_field :image, class: 'hidden'
      = f.submit 'Send',class: 'submit'